* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(2, 133, 35);
}

#container {
    width: 70px;
    margin: 0px auto;
}

header {
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

.logo,
.logo img {
    width: 30%;
}


/* section 1 */

.container {
    display: block;
    box-sizing: border-box;
    padding-top: 40px;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.estilo1 {
    color: #E67E22;
}